<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <a href="/"><button>Home</button></a>

    <form th:object="${contact}" th:action="@{/api/contacts/name}" method="get">
        <input type="text" name="name" id="name" th:value="${name}"/>
        <input type="submit" value="Search"/>
    <form/>
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Image</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${contacts.empty}">
            <td colspan="2"> No Contacts Found</td>
        </tr>
        <tr th:each="contact : ${contacts}">
            <td><span th:text="${contact.name}"> Name </span></td>
            <td><img th:src="${contact.imageUrl}"/></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>